*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: url(BMI\ Mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
button{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px;
}
button:hover{
    background-color: rgb(21, 102, 207);
}

.container{
    background-color: white;
    border-radius: 20px;
    height: 60%;
    max-width: 400px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
    margin-top: 8%;
}
h1{
    color: blue;
    font-weight: 800;
    margin: 25px;
}
p{
    margin: 10px 0;
    color: brown;
    font-size: medium;
    font-weight: 600;
    margin: 20px;
}
#result{
    font-weight: 800;
    margin-top: 20px;
    margin: 20px;
}